@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand" !important;
}

:root {
  --light-blue: #17212c;
  /* --light-blue: #181d22; */
  --dark-blue: #101214;
  --foreground-color: #cbdde0;
  --border-color: #25313f;
}

/* Custom CSS */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #00aeff;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground-color);
}

.gradient-background {
  background-image: radial-gradient(
    164.75% 100%,
    var(--light-blue) 0%,
    var(--dark-blue) 48.73%
  );
}

/* overide */
.text-foreground-500 {
  color: #e7f1f3;
}
